:root {
  --bs-form-switch-bg: #ff0000 !important;
}

@font-face {
  font-family: 'Formula1';
  src: url("../assets/fonts/Formula1-Regular.ttf") format('truetype');
}

@font-face {
  font-family: 'Formula1Bold';
  src: url("../assets/fonts/Formula1-Bold.ttf") format('truetype');
}

.bold-font {
  font-family: 'Formula1Bold' !important;
}


body {
  background-color: #110f24 !important;
  max-height: 930px;
  overflow-x: hidden;
}

.font {
  font-family: 'Formula1';
}

.rounded-checkbox {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 10px;
  border: 1px solid #adb5bd;
  min-width: 20px;
  min-height: 20px;
}

.title {
  text-align: center;
  color: white;
  font-size: 28px;
}

.trasnfer-top-panel {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.transfer-title {
  flex: 1;
  text-align: center;
}

.auto-contract {
  color: white;
  font-size: 20px;
  padding-right: 2rem;
}


.stats-title {
  text-align: left;
  color: white;
  font-size: 26px;
  padding-left: 20px;
  padding-top: 20px;
}

.upper-section-stats {
  display: flex;
  justify-content: space-between;
  padding-right: 16px;
  min-height: 71px;
}

.ovr {
  display: flex;
  flex-direction: column-reverse;
  font-size: 24px;
  margin-right: 10px;

}

.ovrcombined {
  display: flex;
}

.overall-holder {
  background-color: #21202e;
  border: 3px solid white;
  border-radius: 10px;
  width: 66px;
  height: 56px;
  margin-top: 13px;
  margin-right: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;

}

.upper-panel {
  display: flex;
}

@keyframes colorChange {

  0%,
  100% {
    border: 3px solid white;
    border-radius: 10px;
    background-color: #21202e;
  }

  50% {
    border: 3px solid red;
    border-radius: 10px;
    background-color: #21202e;
  }
}



.alert {
  animation: colorChange 0.5s infinite;
  margin-bottom: 0px !important;
}

.main-title {
  text-align: left;
  padding-left: 29%;
  background-color: #18152e;
  padding-top: 1rem;
  padding-bottom: 0.1%;
  width: 71%;
}

.versionPanel {
  position: fixed;
  top: 10px;
  left: 10px;
  color: white;

}

.notification-panel {
  color: white;
  background-color: #18152e;
  width: 37%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

}

.hide {
  animation: fadeOut 1s;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.tools-panel {
  color: white;
  background-color: #18152e;
  border-bottom: 1px solid #797599;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.main-panel {
  display: flex;
  position: relative;
  min-height: 79vh;
}

.script-view {
  display: flex;
  width: 100%;
}

.scirpt-info {
  font-size: 15px;
}

.script-selector {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 20px;
}

.dropdown-menu {
  z-index: 9999 !important;
}

.save-selector {
  display: flex;
  flex-direction: column;
}

#dropdownButton {
  max-width: 210px;
  margin-top: 0.6rem;
  background-color: #797599;
  margin-bottom: 1%;
  border: 2px solid transparent;

}

#dropdownButton:hover {
  border: 2px solid white !important;
}

#dropdownButton:active {
  background-color: #1a1826;
}

.main-columns-drag-section {
  margin-left: 5%;
  margin-right: 5%;
  border: 1px solid #797599;
  color: white;
  min-height: 600px;
  max-height: 660px;
  overflow-y: auto;
  border-radius: 10px;
  scrollbar-width: thin;
  scrollbar-color: white #e5e5e5;
}

.main-panel-stats {
  display: grid;
  grid-template-columns: repeat(3, 0.33fr);
}

.extra-atributes {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.bottom-panel {
  display: flex;
  flex-direction: row;
}

.left-panel-stats {
  width: 100%;
}

.custom-hr {
  border: none;
  height: 1px;
  border: 1px solid #797599;
  margin-left: 20px;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.confirm-section {
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  margin-top: 15px;
  background-color: #18152e;
  border: 1px solid #797599;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 120px;
  padding-bottom: 120px;
  padding-left: 315px;
  padding-right: 315px;
}

.custom-confirm {
  width: 160px;
  border: 2.5px solid transparent !important;
  border-radius: 10px !important;
  color: white !important;
  background-color: #797599 !important;
  transition: border-color 0.5s, background-color 0.5s !important;

}

.extra-inputs {
  margin-bottom: 20px !important;
  margin-top: 20px !important;
}

.custom-confirm:hover {
  background-color: #199c19 !important;
  border-color: #5cfc64 !important;
}

.custom-confirm:active {
  background-color: #0d5f0d !important;
}

.main-calendar-section {
  margin-left: 1.5rem;
  border: 1px solid #797599;
  color: white;
  min-height: 660px;
  max-height: 660px;
  overflow-y: auto;
  border-radius: 10px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.main-options-section {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  border: 1px solid #797599;
  color: white;
  min-height: 660px;
  max-height: 660px;
  overflow-y: auto;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.race-calendar {
  position: relative;
  background-color: #3f3c57;
  border: 2px solid transparent;
  border-radius: 10px;
  padding: 8px;
  margin: 10px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

}

.delete-div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(128, 128, 128, 0.829);
  z-index: 9998;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid transparent;
  border-radius: 10px;
  color: white;
  transition: color 0.5s, border-color 0.5s;
  cursor: pointer;
}

.delete-div:hover{
  color: red;
  border-color: red;
}



.upper-race {
  font-size: 22px;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
}

.flag {
  width: 65px;
  height: 35px;
  border-radius: 10px;
}



.main-editStats-section {
  border: 1px solid #797599;
  color: white;
  min-height: 660px;
  max-height: 660px;
  overflow-y: auto;
  border-radius: 10px;
  scrollbar-width: thin;
  scrollbar-color: white #e5e5e5;
}

.main-editStats-section::-webkit-scrollbar {
  width: 4px;
}

.main-editStats-section::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 3px;
}

#fulldriverlist {
  margin-left: 5%;
  margin-right: 5%;
}

#driverstats {
  margin-right: 2%;
}

.main-columns-drag-section::-webkit-scrollbar {
  width: 4px;
}


.main-columns-drag-section::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 3px;
}



.categoryPills {
  color: #dbdbdb !important;
}

.active {
  background-color: #797599 !important;
  color: #fdfdfd !important;
}

#F2pill {
  border: 2px solid transparent;
  transition: border-color 0.5s, background-color 0.5s;
}

#F2pill:hover {
  border: 2px solid #38c8f0;
  background-color: #388cd5;
}

#F3pill {
  border: 2px solid transparent;
  transition: border-color 0.5s, background-color 0.5s;
}

#F3pill:hover {
  border: 2px solid rgb(255, 72, 72);
  background-color: rgb(207, 46, 46);
}

#F2pill.active {
  background-color: #1374fc !important;
}

#F3pill.active {
  background-color: red !important;
}



.car-info {
  font-size: 14px;
}

.teams-columns {
  padding-top: 10px;
  display: grid;
  grid-template-columns: repeat(2, minmax(400px, 1fr));
  overflow-y: hidden;
  margin-left: 0%;
  margin-right: 2%;
}

.contract-details {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.rounded-input {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 8px 12px;
  max-width: 210px;
  outline: none;
  transition: border-color 0.2s ease-in-out;
}

.rounded-input:focus {
  border-color: #007bff;
}

.free-driver {
  background-color: #3f3c57;
  border: 2px solid transparent;
  border-radius: 10px;
  padding: 8px;
  cursor: grab !important;
  margin: 10px;
  color: white;
  transition: border-color 0.5s;
}

#free-drivers {
  min-height: 660px;
}

#fulldriverlist {
  min-height: 660px;
}

.free-driver:hover {
  border-color: white;
  cursor: grab !important;
}

.blocking-div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(128, 128, 128, 0.5);
  z-index: 9998;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.normal-driver {
  background-color: #3f3c57;
  cursor: pointer;
  border-radius: 10px;
  padding: 8px;
  margin: 10px;
  color: white;
  border: 2px solid transparent;
  display: flex;
  justify-content: space-between;
  transition: border-color 0.5s;
}

.one-stat-panel {
  background-color: #3f3c57;
  border-radius: 10px;
  padding-left: 10px;
  margin: 10px;
  margin-left: 20px;
  color: white;
  min-height: 70px;
  border: 2px solid transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.scriptPills {
  color: white !important;
  border: 2px solid transparent !important;
  transition: border-color 0.5s, background-color 0.5s !important;
}

.scriptPills:hover {
  border-color: white !important;
  background-color: #58556c;
}

.scriptPills.active {
  background-color: #797599 !important;
}

.custom-input-number {
  background-color: #21202e;
  border-radius: 10px;
  padding: 10px;
  margin-right: 7px;
  color: white;
  max-width: 60px;
  height: 56px;
  border: 2px solid transparent;
  font-size: 20px;
  transition: border-color 0.5s !important;

}

.custom-input-number:hover {
  border-color: #cecece;

}

.custom-input-number:focus {
  outline: 0px solid transparent;
  border-color: white;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.normal-driver:hover {
  border-color: white;
  /* Borde blanco al pasar el ratón */
}

.normal-driver:active {
  background-color: #1a1826;
  /* Cambia el color al hacer clic */
}

.normal-driver.clicked {
  border-color: red;
  /* Borde rojo al hacer clic */
}

.team-template {
  background-color: #1f1b3b;
  border-radius: 10px;
  border: none;
  color: white;
  margin: 10px;
  margin-top: 0px;
  max-height: 140px;
}

.team-name {
  padding-bottom: 10px;
  padding-left: 10px;
  padding-top: 10px;
}

#redbull {
  border-bottom: 2px solid #0600b5;
}

#ferrari {
  border-bottom: 2px solid #FF2800;
}

#merc {
  border-bottom: 2px solid #00D2BE
}

#mclaren {
  border-bottom: 2px solid #FF8700
}

#alpine {
  border-bottom: 2px solid #0090FF
}

#alfaromeo {
  border-bottom: 2px solid #900000
}

#astonmartin {
  border-bottom: 2px solid #006F62
}

#alphatauri {
  border-bottom: 2px solid #2B4562
}

#williams {
  border-bottom: 2px solid #005AFF
}

#haas {
  border-bottom: 2px solid #ffffff
}



.drivers-section {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  min-height: 64px;
}


.driver-template {
  width: calc(50% - 5px);
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
}