:root {
  --bs-form-switch-bg: #ff0000 !important;
}

@font-face {
  font-family: 'Formula1';
  src: url("../assets/fonts/Formula1-Regular.ttf") format('truetype');
}

@font-face {
  font-family: 'Formula1Bold';
  src: url("../assets/fonts/Formula1-Bold.ttf") format('truetype');
}

.bold-font {
  font-family: 'Formula1Bold' !important;
}


body {
  background-color: #110f24 !important;
  max-height: 930px;
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  width: 6px;
}

body::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 6px;
}

.font {
  font-family: 'Formula1';
}

#byname{
  text-decoration: none;
  color: #797599;
  transition: color  0.4s;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #18152e;
  color: #797599;
  border-top: 1px solid #797599;
  text-align: center;
  padding: 5px 0;
  font-size: 16px;
  z-index: 20;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.socials a, .footer i{
  cursor: pointer !important;
  padding: 0 7px;
  transition: color 0.3s;
  color: #797599;
  text-decoration: none;
}

.socials a:hover, .footer i:hover{
  color: #dedde6;
}

.update-info{
  transition: color 0.5s;
  text-decoration: none;
  color: #797599;
  cursor: default;
}

.bi-exclamation-diamond{
  color: #ff8080;
}

.bi-exclamation-lg, .bi-cloud-download{
  color: #d3d393;
  cursor: pointer;
}

.bi-exclamation-lg:hover, .bi-cloud-download:hover{
  color: #FFFF99;
}

a.bi-reddit:hover{
  color: #FFA07A;
}

a.bi-twitter:hover, #byname:hover{
  color: #8fc7f0;
}

a.bi-heart:hover{
  color: #ffa4b2;
}


.status{
  display: flex;
  flex-direction: row;
  width: 700px;
  justify-content: flex-end;
}

.status-info{
  margin-right: 7px;
  cursor: default;
}

.awaiting{
  color: #8a8a8a;
}


.rounded-checkbox {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 10px;
  border: 1px solid #adb5bd;
  min-width: 20px;
  min-height: 20px;
}

.title {
  text-align: center;
  color: white;
  font-size: 28px;
}

.trasnfer-top-panel {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.transfer-title {
  flex: 1;
  text-align: center;
}

.auto-contract {
  color: white;
  font-size: 20px;
  padding-right: 2rem;
}


.stats-title {
  text-align: left;
  color: white;
  font-size: 26px;
  padding-left: 20px;
  padding-top: 20px;
}

.upper-section-stats {
  display: flex;
  justify-content: space-between;
  padding-right: 16px;
  min-height: 71px;
}

.ovr {
  display: flex;
  flex-direction: column-reverse;
  font-size: 24px;
  margin-right: 10px;

}

.ovrcombined {
  display: flex;
}

.overall-holder {
  background-color: #21202e;
  border: 3px solid white;
  border-radius: 10px;
  width: 66px;
  height: 56px;
  margin-top: 13px;
  margin-right: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;

}

.upper-panel {
  display: flex;
}

@keyframes colorChange {

  0%,
  100% {
    border: 3px solid white;
    border-radius: 10px;
    background-color: #21202e;
  }

  50% {
    border: 3px solid red;
    border-radius: 10px;
    background-color: #21202e;
  }
}



.alert {
  animation: colorChange 0.5s infinite;
  margin-bottom: 0px !important;
}

.main-title {
  text-align: left;
  background-color: #18152e;
  padding-top: 1rem;
  padding-bottom: 0.1%;
  display: flex;
  width: 100%;
  justify-content: center;
}

.versionPanel {
  position: fixed;
  top: 10px;
  left: 10px;
  color: white;

}

.notification-panel {
  position: absolute;
  top: 0px;
  right: 0px;
  color: white;
  background-color: #18152e;
  width: 530px;
  height: 116px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.hide {
  animation: fadeOut 1s;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.tools-panel {
  color: white;
  background-color: #18152e;
  border-bottom: 1px solid #797599;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.main-panel {
  display: flex;
  position: relative;
  min-height: 78vh;
}

.script-view {
  display: flex;
  width: 100%;
}

.scirpt-info {
  font-size: 15px;
}

.script-selector {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 20px;
}

.dropdown-menu {
  z-index: 9999 !important;
}

.save-selector {
  display: flex;
  flex-direction: column;
}

.custom-dropdown {
  max-width: 250px !important;
  margin-top: 0.6rem !important;
  background-color: #797599 !important;
  margin-bottom: 1% !important;
  border: 2px solid transparent !important;
  border-radius: 10px !important;


}

.custom-dropdown:hover {
  border: 2px solid white !important;
}

.custom-dropdown:active {
  background-color: #1a1826 !important;
}

.addTracks-button {
  max-width: 210px;
  margin-top: 0.6rem;
  background-color: #797599 !important;
  margin-bottom: 1%;
  border: 2px solid transparent !important;
  border-radius: 10px !important;
  box-shadow: none;

}

.addTracks-button:hover {
  border: 2px solid white !important;
}

.addTracks-button:active {
  background-color: #1a1826;
}

#addTrackMenu {
  max-height: 300px;
  overflow-y: scroll;
}

#addTrackMenu::-webkit-scrollbar {
  width: 4px;
}

#addTrackMenu::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 3px;
}

.menu-race {
  max-width: 200px;
}

.menuFlag {
  height: 10px;
  width: 20px;
  margin-left: 10px;
}

.main-columns-drag-section {
  margin-left: 14px;
  margin-right: 5%;
  border: 1px solid #797599;
  color: white;
  min-height: 660px;
  max-height: 660px;
  overflow-y: auto;
  border-radius: 10px;
  scrollbar-width: thin;
  scrollbar-color: white #e5e5e5;
}

.main-panel-stats {
  display: grid;
  grid-template-columns: repeat(3, 0.33fr);
  min-height: 270px;
}

.extra-atributes {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.bottom-panel {
  display: flex;
  flex-direction: row;
}

.left-panel-stats {
  width: 100%;
}

.custom-hr {
  border: none;
  height: 1px;
  border: 1px solid #797599;
  margin-left: 20px;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.categoryPills,
.scriptPills {
  padding-top: 6px !important;
  padding-bottom: 6px !important;
  padding-left: 12px !important;
  padding-right: 12px !important;
  border-radius: 10px !important;

}



.confirm-section {
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  margin-top: 15px;
  background-color: #18152e;
  border: 1px solid #797599;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 276px;
}

.custom-confirm {
  width: 160px;
  border: 2.5px solid transparent !important;
  border-radius: 10px !important;
  color: white !important;
  background-color: #797599 !important;
  transition: border-color 0.5s, background-color 0.5s, color 0.5s !important;

}

.extra-inputs {
  margin-bottom: 20px !important;
  margin-top: 20px !important;
}


.custom-confirm:hover {
  background-color: #9fdf9f !important;
  border-color: #6d9e6d  !important;
  color: #555555 !important;

}

.custom-confirm:active {
  background-color: #679467 !important;
}

.custom-delete {
  width: 160px;
  border: 2.5px solid transparent !important;
  border-radius: 10px !important;
  color: white !important;
  background-color: #797599 !important;
  transition: border-color 0.5s, background-color 0.5s !important;
  display: flex;
  justify-content: center;

}

.delete-mode {
  background-color: #ff8080 !important;
  border-color: #d66f6f !important;
  transition: border-color 0.5s;
}

.custom-delete:hover {
  background-color: #ff8080 !important;
  border-color: #d35f5f !important;
}

.custom-delete:active {
  background-color: #a35050 !important;
}

.delete-mode:hover {
  border-color: white !important;
}

.main-calendar-section {
  margin-left: 14px;
  border: 1px solid #797599;
  color: white;
  min-height: 660px;
  max-height: 660px;
  overflow-y: auto;
  border-radius: 10px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.main-options-section {
  margin-left: 1.5rem;
  margin-right: 14px;
  border: 1px solid #797599;
  color: white;
  min-height: 660px;
  max-height: 660px;
  overflow-y: auto;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.save-calendar-section {
  height: 530px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.option-buttons {
  margin: 10px;
  width: 210px !important;
  height: 41px !important;

}

.race-calendar {
  position: relative;
  background-color: #3f3c57;
  border: 2px solid transparent;
  border-radius: 10px;
  padding: 8px;
  margin: 10px;
  color: #dedde6;
  transition: border-color 0.5s, color 0.5s, background-color 0.5s;
  display: flex;
  cursor: grab !important;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  max-height: 112px;

}

.race-calendar:hover {
  border-color: white;
  color: white;
  background-color: #4e4b69;
}

.deleting:hover {
  border: 2px solid transparent !important;
}

.delete-div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(128, 128, 128, 0.829);
  z-index: 9998;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2.5px solid transparent;
  border-radius: 10px;
  color: white;
  transition: color 0.5s, border-color 0.5s;
  cursor: pointer;
}

.delete-div:hover {
  color: #ff8080;
  border-color: #ff8080;
}



.upper-race {
  font-size: 22px;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
}

.flag {
  width: 65px;
  height: 35px;
  border-radius: 10px;
}



.main-editStats-section {
  border: 1px solid #797599;
  color: white;
  min-height: 660px;
  max-height: 660px;
  overflow-y: auto;
  border-radius: 10px;
  scrollbar-width: thin;
  scrollbar-color: white #e5e5e5;
}

.main-editStats-section::-webkit-scrollbar {
  width: 4px;
}

.main-editStats-section::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 3px;
}

.staff-list {
  margin-left: 14px;
  margin-right: 5%;
  min-height: 660px;
}

#driverstats {
  margin-right: 14px;
}

.main-columns-drag-section::-webkit-scrollbar {
  width: 4px;
}


.main-columns-drag-section::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 3px;
}



.categoryPills {
  color: #dbdbdb !important;
}

.active {
  background-color: #797599 !important;
  color: #fdfdfd !important;
}

#F2pill {
  border: 2px solid transparent;
  transition: border-color 0.5s, background-color 0.5s;
}

#F2pill:hover {
  border: 2px solid #38c8f0;
  background-color: #388cd5;
}

#F3pill {
  border: 2px solid transparent;
  transition: border-color 0.5s, background-color 0.5s;
}

#F3pill:hover {
  border: 2px solid rgb(255, 72, 72);
  background-color: rgb(207, 46, 46);
}

#F2pill.active {
  background-color: #1374fc !important;
}

#F3pill.active {
  background-color: red !important;
}

.one-performance {
  padding: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 22px;
  padding-left: 20px;
  background-color: #3f3c57;
  border-radius: 10px;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  color: #dedde6;
  border: 2px solid transparent;
  transition: border-color 0.5s, background-color 0.5s;
}

.one-performance:hover {
  border-color: white;
  background-color: #4e4b69;
}

.one-performance:hover .performance-name {
  color: white;
}

.performance-buttons{
  padding: 10px;
  display: flex;
  width: 100px;
  justify-content: space-around;
}


.perf-engine{
  font-size: 20px;
}

.performance-buttons i {
  transition: color 0.5s;
  cursor: pointer !important;
}

.performance-buttons .bi-dash-circle:hover, .negative {
  color: #ff8080;
}

.performance-buttons .bi-plus-circle:hover, .positive {
  color: #9fdf9f;
}

.performance-name {
  width: 200px;
  transition: color 0.5s;
  cursor: default !important;
}

.performance-name-engine {
  width: 300px;
  transition: color 0.5s;
  cursor: default !important;
}

.custom-progress {
  width: 603px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 50px;
}

.red-part {
  width: 300px;
  height: 3px;
  background-color: #ff8080;
  position: relative;
}

.disabled-part {
  width: 300px;
  height: 3px;
  background-color: #110f24;
  position: relative;
}

.disabled-part-engine {
  width: 100%;
  height: 3px;
  background-color: #110f24;
  position: relative;
}

.green-part {
  width: 0%;
  height: 100%;
  background-color: #9fdf9f;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  transition: width 0.2s;
}

.white-part {
  width: 0%;
  height: 100%;
  background-color: #f0f0f0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  transition: width 0.2s;
}

.separation-zone {
  width: 3px;
  height: 10px;
  background-color: #f0f0f0;
}

.gray-part {
  width: 100%;
  height: 100%;
  background-color: #110f24;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  transition: width 0.2s;
}

.car-info {
  font-size: 14px;
}

.teams-columns {
  padding-top: 10px;
  display: grid;
  grid-template-columns: repeat(2, minmax(400px, 1fr));
  overflow-y: hidden;
  margin-left: 0%;
  margin-right: 14px;
}

.performance-bar {
  width: 300px;
}

.performance-section {
  padding-top: 10px;
  overflow-y: hidden;
  margin-left: 0%;
  margin-right: 14px;
}

.contract-details {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  color: white;
  background-color: #393744;
}


.custom-header {
  color: white !important;
  border-bottom: 1px solid #797599 !important;
  background-color: #393744 !important;

}

.custom-footer {
  color: white !important;
  border-top: 1px solid #797599 !important;
  background-color: #393744 !important;

}

::-webkit-input-placeholder {
  color: #999;
  /* Cambia el color del texto del placeholder */
}

.rounded-input {
  border: 2px solid transparent;
  border-radius: 10px;
  padding: 8px 12px;
  max-width: 210px;
  outline: none;
  transition: border-color 0.5s;
  background-color: rgb(99, 99, 110);
  color: white;
}

.custom-disabled {
  background-color: -internal-light-dark(rgba(239, 239, 239, 0.3), rgba(59, 59, 59, 0.3));
}


.rounded-input:hover {
  border-color: #cecece;

}

.rounded-input:focus {
  outline: 0px solid transparent;
  border-color: white;
}

.confirm-area {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 23px;
}

.performance-data {
  margin-left: 30px;
  font-size: 26px;
  width: 200px;
  text-align: center;
}

.team, .engine {
  background-color: #3f3c57;
  border: 2px solid transparent;
  border-radius: 10px;
  padding: 4.8px;
  cursor: pointer !important;
  margin: 10px;
  color: #dedde6;
  transition: border-color 0.5s, color 0.5s, background-color 0.5s;
  position: relative;
  font-size: 18px;
}

.team:hover, .engine:hover {
  border-color: white;
  color: white;
  background-color: #4e4b69;
}

.team.selected, .engine.selected {
  color: #110f24;
  background-color: #dedde6;
}

.team:active .engine:active{
  background-color: #1a1826;
}

.free-driver {
  background-color: #3f3c57;
  border: 2px solid transparent;
  border-radius: 10px;
  padding: 8px;
  cursor: grab !important;
  margin: 10px;
  color: #dedde6;
  transition: border-color 0.5s, color 0.5s, background-color 0.5s;
  position: relative;
  font-size: 15px;
}

.free-driver .custom-icon {
  color: transparent;
  transition: opacity 0.5s;
  background-image: linear-gradient(to left, #4e4b69, transparent);
  width: 80px;
  opacity: 0;
  z-index: 3;
  display: flex;
  position: absolute;
  right: 10px;
  top: 7.5px;
  justify-content: flex-end;
}

.custom-icon i {
  transition: color 0.5s;
}

.custom-icon i:hover {
  color: white;
  cursor: pointer;
}

.free-driver:hover .custom-icon {
  color: #9d98b8;
  opacity: 1;

}

#free-drivers {
  min-height: 660px;
}


.free-driver:hover {
  border-color: white;
  cursor: grab !important;
  color: white;
  background-color: #4e4b69;
}

.blocking-div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(128, 128, 128, 0.5);
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

#calendarBlockDiv {
  background-color: rgba(128, 128, 128, 0.733);
}

.normal-driver {
  background-color: #3f3c57;
  cursor: pointer;
  border-radius: 10px;
  padding: 8px;
  margin: 10px;
  color: #dedde6;
  transition: border-color 0.5s, color 0.5s, background-color 0.5s;
  border: 2px solid transparent;
  display: flex;
  justify-content: space-between;
}

.one-stat-panel {
  background-color: #3f3c57;
  border-radius: 10px;
  padding-left: 10px;
  margin: 10px;
  margin-left: 20px;
  color: #dedde6;
  transition: border-color 0.5s, color 0.5s, background-color 0.5s;
  min-height: 70px;
  border: 2px solid transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-height: 70px;
}


.scriptPills {
  color: white !important;
  border: 2px solid transparent !important;
  transition: border-color 0.5s, background-color 0.5s !important;
}

.scriptPills:hover {
  border-color: white !important;
  background-color: #58556c;
}

.scriptPills.active {
  background-color: #797599 !important;
}

.custom-input-number {
  background-color: #21202e;
  border-radius: 10px;
  padding: 10px;
  margin-right: 7px;
  color: white;
  max-width: 60px;
  height: 56px;
  border: 2px solid transparent;
  font-size: 20px;
  transition: border-color 0.5s !important;

}

.custom-input-number:hover {
  border-color: #cecece;

}

.custom-input-number:focus {
  outline: 0px solid transparent;
  border-color: white;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.normal-driver:hover {
  border-color: white;
  color: white;
  background-color: #4e4b69;
}

.normal-driver:active {
  background-color: #1a1826;
}

.normal-driver.clicked {
  color: #110f24;
  background-color: #dedde6;
}


.normal-driver.clicked .surname{
  color: inherit !important;
}

.team-template {
  background-color: #1f1b3b;
  border-radius: 10px;
  border: none;
  color: white;
  margin: 10px;
  margin-top: 0px;
  max-height: 140px;
}

.logo-and-name {
  display: flex;
  flex-direction: row;
}

.logo-and-title {
  display: flex;
  flex-direction: row;
  height: 54.5px;

}

.team-title {
  display: flex;
  align-items: center;
  font-size: 24px;
  padding-left: 8px;
}


.team-name {
  padding-bottom: 10px;
  padding-left: 10px;
  padding-top: 10px;
}

.perf-title{
  padding-bottom: 10px;
  padding-top: 5px;
}

#redbulllogo {
  width: 55px;
  height: 45px;
  padding-bottom: 8px;
  padding-left: 5px;
  padding-top: 7px;
}

#ferrarilogo {
  width: 35px;
  height: 40px;
  padding-bottom: 6px;
  padding-top: 8px;
  padding-left: 5px;
}

#merclogo {
  width: 40px;
  height: 40px;
  padding-bottom: 5px;
  padding-top: 9px;
  padding-left: 10px;
}

#alpinelogo {
  width: 45px;
  height: 40px;
  padding-bottom: 6px;
  padding-top: 9px;
  padding-left: 5px;
  transition: opacity 0.5s;
}

#mclarenlogo {
  width: 40px;
  height: 40px;
  padding-bottom: 4px;
  padding-top: 7px;
  padding-left: 5px;
}

#alfalogo {
  width: 40px;
  height: 40px;
  padding-bottom: 3px;
  padding-top: 5px;
  padding-left: 5px;
}

#astonlogo {
  width: 50px;
  height: 45px;
  padding-bottom: 5px;
  padding-left: 7px;
  padding-top: 5px;
}

#haaslogo {
  width: 40px;
  height: 40px;
  padding-bottom: 5px;
  padding-top: 7px;
  padding-left: 6px;
}

#alphataurilogo {
  width: 45px;
  height: 45px;
  padding-bottom: 12px;
  padding-left: 10px;
  padding-top: 12px;
}

#williamslogo {
  width: 45px;
  height: 45px;
  padding-bottom: 11px;
  padding-left: 12px;
  padding-top: 10px;
}


#redbull {
  border-bottom: 2px solid #3671C6;
}

#ferrari {
  border-bottom: 2px solid #F91536;
}

#merc {
  border-bottom: 2px solid #6CD3BF
}

#mclaren {
  border-bottom: 2px solid #F58020
}

#alpine {
  border-bottom: 2px solid #2293D1
}

#alfaromeo {
  border-bottom: 2px solid #C92D4B
}

#astonmartin {
  border-bottom: 2px solid #358C75
}

#alphatauri {
  border-bottom: 2px solid #5E8FAA
}

#williams {
  border-bottom: 2px solid #37BEDD
}

#haas {
  border-bottom: 2px solid #B6BABD
}

.rbfont {
  color: #3671C6;
}

.fefont {
  color: #F91536;
}

.mefont {
  color: #6CD3BF;
}

.mcfont {
  color: #F58020;
}

.alfont {
  color: #2293D1;
}

.affont {
  color: #C92D4B;
}

.asfont {
  color: #358C75;
}

.atfont {
  color: #5E8FAA;
}

.wifont {
  color: #37BEDD;
}

.hafont {
  color: #B6BABD;
}




.drivers-section {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  min-height: 64px;
}


.driver-template {
  width: calc(50% - 5px);
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
}