

@font-face {
  font-family: 'Formula1';
  src: url("../assets/fonts/Formula1-Regular.ttf") format('truetype');
}

@font-face {
  font-family: 'Formula1Bold';
  src: url("../assets/fonts/Formula1-Bold.ttf") format('truetype');
}

.bold-font {
  font-family: 'Formula1Bold' !important;
}


body {
  background-color: #110f24 !important;
  max-height: 930px;
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  width: 6px;
}

body::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 6px;
}

.font {
  font-family: 'Formula1';
}

#byname {
  text-decoration: none;
  color: #797599;
  transition: color 0.4s;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #18152e;
  color: #797599;
  border-top: 1px solid #797599;
  text-align: center;
  padding: 5px 0;
  font-size: 16px;
  z-index: 20;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.socials a,
.footer i {
  cursor: pointer !important;
  padding: 0 7px;
  transition: color 0.3s;
  color: #797599;
  text-decoration: none;
}

.socials a:hover,
.footer i:hover {
  color: #dedde6;
}

.update-info {
  transition: color 0.4s;
  text-decoration: none;
  color: #797599;
  cursor: default;
}

.bi-exclamation-diamond {
  color: #ff8080;
}

.bi-exclamation-lg,
.bi-cloud-download {
  color: #d3d393;
  cursor: pointer;
}

.bi-exclamation-lg:hover,
.bi-cloud-download:hover {
  color: #FFFF99;
}

a.bi-reddit:hover {
  color: #FFA07A;
}

a.bi-twitter:hover,
#byname:hover {
  color: #8fc7f0;
}

a.bi-heart:hover {
  color: #ffa4b2;
}


.status {
  display: flex;
  flex-direction: row;
  width: 700px;
  justify-content: flex-end;
}

.status-info {
  margin-right: 7px;
  cursor: default;
}

.awaiting {
  color: #8a8a8a;
}


.rounded-checkbox {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 10px;
  border: 1px solid #adb5bd;
  min-width: 20px;
  min-height: 20px;
}

.title {
  text-align: center;
  color: white;
  font-size: 28px;
}

.trasnfer-top-panel {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.transfer-title {
  flex: 1;
  text-align: center;
}

.auto-contract {
  color: #dedde6;
  font-size: 20px;
  padding-right: 2rem;
}

.number-details {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#d1Menu, #d2Menu{
  max-height: 200px;
  overflow-y: scroll;
}

#numberMenu{
  max-height: 200px;
  overflow-y: scroll;
}

#numberMenu::-webkit-scrollbar, #d1Menu::-webkit-scrollbar, #d2Menu::-webkit-scrollbar {
  width: 4px;
}

#numberMenu::-webkit-scrollbar-thumb, #d1Menu::-webkit-scrollbar-thumb, #d2Menu::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 3px;
}

.dropdown-menu{
  background-color: #797599 !important;
  border: none !important;
  border-radius: 10px;

}

.dropdown-menu a{
  color: white !important;
  border: 2px solid transparent;
  transition: border-color 0.3s, background-color 0.3s;
}

.dropdown-menu a:hover{
  background-color: #8b87af !important;
  border-bottom: 2px solid white  ;
}

.modal-subtitle {
  color: #dedde6;
}

.stats-title {
  text-align: left;
  color: white;
  font-size: 26px;
  padding-left: 20px;
  padding-top: 20px;
}

.upper-section-stats {
  display: flex;
  justify-content: space-between;
  padding-right: 16px;
  min-height: 71px;
}

.ovr {
  display: flex;
  flex-direction: column-reverse;
  font-size: 24px;
  margin-right: 10px;

}

.ovrcombined {
  display: flex;
}

.overall-holder {
  background-color: #21202e;
  border: 3px solid white;
  border-radius: 10px;
  width: 66px;
  height: 56px;
  margin-top: 13px;
  margin-right: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;

}

.upper-panel {
  display: flex;
}

@keyframes colorChange {

  0%,
  100% {
    border: 3px solid white;
    border-radius: 10px;
    background-color: #21202e;
  }

  50% {
    border: 3px solid red;
    border-radius: 10px;
    background-color: #21202e;
  }
}



.alert {
  animation: colorChange 0.4s infinite;
  margin-bottom: 0px !important;
}

.main-title {
  text-align: left;
  background-color: #18152e;
  padding-top: 1rem;
  padding-bottom: 0.1%;
  display: flex;
  width: 100%;
  justify-content: center;
}

.versionPanel {
  position: fixed;
  top: 10px;
  left: 10px;
  color: white;

}

.patchNotesPanel {
  position: fixed;
  top: 40px;
  left: 10px;
}

.patchNotesPanel i {
  transition: color 0.4s;
  font-style: normal;
  color: #797599;
  cursor: pointer;
}

.patchNotesPanel i:hover {
  color: white;
}

.notification-panel {
  position: absolute;
  top: 0px;
  right: 0px;
  color: white;
  background-color: #18152e;
  width: 530px;
  height: 116px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: flex-end;
  gap: 10px;
}

.notification-line{
  width: 100%;
  height: 2px;
  background-color: white;
  position: relative;
  bottom: 7px;
}

.line-error{
  background-color: #ff8080 !important;
}

.custom-toast{
  background-color: rgba(187, 182, 236, 0.5) !important;
  color: white;
  border-radius: 10px !important;
  width: 420px !important;
  backdrop-filter: blur(3px);
  z-index: 9999 !important;
}

.bar-space{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.driver1-number{
  font-size: 18px;
  margin-right: 10px;
  transition: color 0.4s;
}

.driver2-number{
  font-size: 18px;
  margin-left: 10px;
  transition: color 0.4s;
}

.toast-error{
  color: #ff8080 !important;
}

.hide {
  animation: fadeOut 0.5s;
}

.myShow{
  animation: myFadeIn 0.5s;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}


@keyframes myFadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.tools-panel {
  color: white;
  background-color: #18152e;
  border-bottom: 1px solid #797599;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.main-panel {
  display: flex;
  position: relative;
  min-height: 78vh;
}

.script-view {
  display: flex;
  width: 100%;
}

.scirpt-info {
  font-size: 15px;
}

.script-selector {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 20px;
}

.dropdown-menu {
  z-index: 9999 !important;
}

.save-selector {
  display: flex;
  flex-direction: column;
}

.custom-dropdown {
  max-width: 250px !important;
  margin-top: 0.6rem !important;
  background-color: #797599 !important;
  margin-bottom: 1% !important;
  border: 2px solid transparent !important;
  border-radius: 10px !important;
  color: white !important;
  transition: border-color 0.3s;
}

#numberButton{
  min-width: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.custom-dropdown:hover {
  border: 2px solid white !important;
}

.custom-dropdown:active {
  background-color: #1a1826 !important;
}

.addTracks-button {
  max-width: 210px;
  margin-top: 0.6rem;
  background-color: #797599 !important;
  margin-bottom: 1%;
  border: 2px solid transparent !important;
  border-radius: 10px !important;
  box-shadow: none;

}

.addTracks-button:hover {
  border: 2px solid white !important;
}

.addTracks-button:active {
  background-color: #1a1826;
}

#addTrackMenu {
  max-height: 300px;
  overflow-y: scroll;
}

#addTrackMenu::-webkit-scrollbar {
  width: 4px;
}

#addTrackMenu::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 3px;
}

.menu-race {
  max-width: 200px;
}

.menuFlag {
  height: 10px;
  width: 20px;
  margin-left: 10px;
}

.main-columns-drag-section {
  margin-left: 14px;
  margin-right: 5%;
  border: 1px solid #797599;
  color: white;
  min-height: 660px;
  max-height: 660px;
  overflow-y: auto;
  border-radius: 10px;
  scrollbar-width: thin;
  scrollbar-color: white #e5e5e5;
}

.main-panel-stats {
  display: grid;
  grid-template-columns: repeat(3, 0.33fr);
  min-height: 270px;
}

.extra-atributes {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.bottom-panel {
  display: flex;
  flex-direction: row;
}

.left-panel-stats {
  width: 100%;
}

.custom-hr {
  border: none;
  height: 1px;
  border: 1px solid #797599;
  margin-left: 20px;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.categoryPills,
.scriptPills {
  padding-top: 6px !important;
  padding-bottom: 6px !important;
  padding-left: 12px !important;
  padding-right: 12px !important;
  border-radius: 10px !important;
}

.pill-types{
  display: flex;
  flex-direction: row;
  color: #dedde6;
  font-size: 18px;
  width: 100%;
}

.pill-types .activeType{
  color: white !important;
}

#editPills{
  position: absolute;
  z-index: 1;
  right: 280px;
  transition: color 0.4s;
}

#dataPills{
  z-index: 1 !important;
  padding-left: 150px;
  transition: color 0.4s;
}

.save-selector-title{
  color: #dedde6;
  transition: color 0.4s;
}

.save-selector-title.activeSelected{
  color: white !important;
}

.confirm-section {
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  margin-top: 15px;
  background-color: #18152e;
  border: 1px solid #797599;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 276px;
}

.custom-confirm {
  width: 160px;
  border: 2.5px solid transparent !important;
  border-radius: 10px !important;
  color: white !important;
  background-color: #797599 !important;
  transition: border-color 0.4s, background-color 0.4s, color 0.4s !important;

}

.extra-inputs {
  margin-bottom: 20px !important;
  margin-top: 20px !important;
}


.custom-confirm:hover {
  background-color: #A569BD !important;
  border-color: #8E44AD !important;
}

.custom-confirm:active {
  background-color: #6f4680 !important;
}

.custom-delete {
  width: 160px;
  border: 2.5px solid transparent !important;
  border-radius: 10px !important;
  color: white !important;
  background-color: #797599 !important;
  transition: border-color 0.4s, background-color 0.4s !important;
  display: flex;
  justify-content: center;

}

.delete-mode {
  background-color: #ff8080 !important;
  border-color: #d66f6f !important;
  transition: border-color 0.4s;
}

.custom-delete:hover {
  background-color: #ff8080 !important;
  border-color: #d35f5f !important;
}

.custom-delete:active {
  background-color: #a35050 !important;
}

.delete-mode:hover {
  border-color: white !important;
}

.main-viewer-section {
  margin-left: 14px;
  margin-right: 14px;
  border: 1px solid #797599;
  color: white;
  overflow: hidden;
  border-radius: 10px;
}

[tabulator-field^="race"] {
  font-size: 13px;
  /* Establece el tamaño de fuente a 13px */
  border: none !important;
}

[tabulator-field="driver"],
[tabulator-field="points"] {
  background-color: #464166 !important;
}



#seasonresults-table {
  background-color: transparent !important;
  border: none !important;
}

.main-viewer-section .tabulator-tableholder::-webkit-scrollbar {
  width: 4px !important;
}

.main-viewer-section .tabulator-tableholder::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 3px !important;
}

.tabulator-col-content {
  border: none !important;
}

[tabulator-field="driver"] {
  border-right: 1.5px solid #797599 !important;
  transition: color 0.3s, background-color 0.3s, border-color 0.3s;
}


[tabulator-field="points"] {
  border-left: 1.5px solid #797599 !important;
  border-right: none !important;
  transition: color 0.3s, background-color 0.3s, border-color 0.3s;
}

.main-viewer-section .tabulator-col {
  background-color: #18152e !important;
  color: #dedde6 !important;
}

.main-viewer-section .tabulator-row {
  background-color: #494561 !important;
  cursor: pointer !important;
  color: #dedde6 !important;
  transition: background-color 0.3s !important;
}

.main-viewer-section .tabulator-row-even {
  background-color: #3c3952 !important;
  cursor: pointer !important;
  color: #dedde6 !important;
}

.main-viewer-section .tabulator-row:hover {
  background-color: #625e86 !important;
  cursor: pointer !important;
  color: #dedde6 !important;
}

.tabulator-row:hover [tabulator-field="driver"] {
  color: #110f24;
  background-color: #dedde6 !important;
  border-right: 1.5px solid #dedde6 !important;
}

.tabulator-row:hover [tabulator-field="points"] {
  color: #110f24;
  background-color: #dedde6 !important;
  border-left: 1.5px solid #dedde6 !important;
}

[tabulator-field="driver"] span.bold-font {
  transition: color 0.3s;
}

.tabulator-row:hover [tabulator-field="driver"] span.bold-font {
  color: #110f24;
}


.main-viewer-section .tabulator-table {
  background-color: #110f24 !important;
  overflow-x: hidden !important;
}

.tabulator-col-content:has(img) {
  padding: 0px !important;
}

.flag-header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.flag-header img {
  width: 100%;
  height: 29px;
  opacity: 0.45;
}

.text-in-front {
  position: absolute;
  z-index: 4;
  color: #eeedf3;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  font-size: 15px;
}

.main-calendar-section {
  margin-left: 14px;
  border: 1px solid #797599;
  color: white;
  min-height: 660px;
  max-height: 660px;
  overflow-y: auto;
  border-radius: 10px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.main-options-section {
  margin-left: 1.5rem;
  margin-right: 14px;
  border: 1px solid #797599;
  color: white;
  min-height: 660px;
  max-height: 660px;
  overflow-y: auto;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.save-calendar-section {
  height: 530px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.option-buttons {
  margin: 10px;
  width: 210px !important;
  height: 41px !important;

}

.buttons-h2h{
  display: flex;
  gap: 10px;
}

#driver1Button, #driver2Button{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.race-calendar {
  position: relative;
  background-color: #3f3c57;
  border: 2px solid transparent;
  border-radius: 10px;
  padding: 8px;
  margin: 10px;
  color: #dedde6;
  transition: border-color 0.4s, color 0.4s, background-color 0.4s;
  display: flex;
  cursor: grab !important;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  max-height: 112px;

}

.race-calendar:hover {
  border-color: white;
  color: white;
  background-color: #4e4b69;
}

.deleting:hover {
  border: 2px solid transparent !important;
}

.delete-div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(128, 128, 128, 0.829);
  z-index: 9998;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2.5px solid transparent;
  border-radius: 10px;
  color: white;
  transition: color 0.4s, border-color 0.4s;
  cursor: pointer;
}

.delete-div:hover {
  color: #ff8080;
  border-color: #ff8080;
}



.upper-race {
  font-size: 22px;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
}

.flag {
  width: 65px;
  height: 35px;
  border-radius: 10px;
}



.main-editStats-section {
  border: 1px solid #797599;
  color: white;
  min-height: 660px;
  max-height: 660px;
  overflow-y: auto;
  border-radius: 10px;
  scrollbar-width: thin;
  scrollbar-color: white #e5e5e5;
}

.main-editStats-section::-webkit-scrollbar {
  width: 4px;
}

.main-editStats-section::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 3px;
}

.staff-list {
  margin-left: 14px;
  margin-right: 5%;
  min-height: 660px;
}

#driverstats {
  margin-right: 14px;
}

.main-columns-drag-section::-webkit-scrollbar {
  width: 4px;
}


.main-columns-drag-section::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 3px;
}



.categoryPills {
  color: #dbdbdb !important;
}

.active {
  background-color: #797599 !important;
  color: #fdfdfd !important;
}

#F2pill {
  border: 2px solid transparent;
  transition: border-color 0.4s, background-color 0.4s;
}

#F2pill:hover {
  border: 2px solid #38c8f0;
  background-color: #388cd5;
}

#F3pill {
  border: 2px solid transparent;
  transition: border-color 0.4s, background-color 0.4s;
}

#F3pill:hover {
  border: 2px solid rgb(255, 72, 72);
  background-color: rgb(207, 46, 46);
}

#F2pill.active {
  background-color: #1374fc !important;
}

#F3pill.active {
  background-color: red !important;
}

.one-statH2H {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  display: flex;
  flex-direction: column;
  font-size: 20px;
  background-color: #3f3c57;
  border-radius: 10px;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  color: #dedde6;
  border: 2px solid transparent;
  transition: border-color 0.4s, background-color 0.4s;
  align-items: center;
}

.one-statH2H:hover {
  border-color: white;
  background-color: #4e4b69;
}

.one-statH2H i{
  cursor: pointer;
  transition: color 0.4s;
}

.one-statH2H i:hover{
  cursor: pointer;
  color: white;
}


.one-statH2H:hover .name-H2H .only-name{
  color: white;
}

.one-statH2H:hover .driver1-number, .one-statH2H:hover .driver2-number{
  color: white;
}

.driver-names{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 10px;
  font-size: 20px;
  height: 110px;
  margin-top: 6px;
}

.driver1-name, .driver2-name{
  display: flex;
  flex-direction: column;
  color: #dedde6;
  background-color: #1f1b3b;
  border-radius: 10px;
  width: 100%;
  margin-left: 5px;
  margin-right: 5px;
  justify-content: center;
  align-items: center;
  transition: background-color 0.4s, color 0.4s;
}

.driver1-name:hover, .driver2-name:hover {
  color: white;
  background-color: #302a57;
}

.driver1-second, .driver2-second{
  margin-top: -6px;
}

.one-performance {
  padding: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 22px;
  padding-left: 20px;
  background-color: #3f3c57;
  border-radius: 10px;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  color: #dedde6;
  border: 2px solid transparent;
  transition: border-color 0.4s, background-color 0.4s;
}

.one-performance:hover {
  border-color: white;
  background-color: #4e4b69;
}

.one-performance:hover .performance-name {
  color: white;
}

.performance-buttons {
  padding: 10px;
  display: flex;
  width: 100px;
  justify-content: space-around;
}


.perf-engine {
  font-size: 20px;
}

.performance-buttons i {
  transition: color 0.4s;
  cursor: pointer !important;
}

.performance-buttons .bi-dash-circle:hover,
.negative {
  color: #ff8080;
}

.performance-buttons .bi-plus-circle:hover,
.positive {
  color: #9fdf9f;
}

.performance-name {
  width: 200px;
  transition: color 0.4s;
  cursor: default !important;
}

.performance-name-engine {
  width: 300px;
  transition: color 0.4s;
  cursor: default !important;
}

.custom-progress {
  width: 603px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 50px;
}

.name-H2H{
  width: 100%;
  transition: color 0.4s;
  cursor: default !important;
  text-align: center;
}

.only-name{
  transition: color 0.4s;
}

#bestrh2h .name-H2H{
  display: flex;
  justify-content: space-between;
}

.custom-H2H {
  width: 280px;
  display: flex;
  flex-direction: row;
  background-color: #1f1b3b;
  height: 7px;
  margin-top: 5px;
}

.driver1-bar{
  float: right;
  width: 0%;
  height: 7px;
  transition: width 0.4s;
}

.h2h-top{
  display: flex;
  flex-direction: row;
  justify-content: space-between
}

.driver2-bar{
  float: left;
  width: 0%;
  height: 7px;
  transition: width 0.4s;
}

.driver2-space, .driver1-space{
  width: 50%;
  background-color: #1f1b3b;
  height: 6px;
}




.red-part {
  width: 300px;
  height: 3px;
  background-color: #ff8080;
  position: relative;
}

.disabled-part {
  width: 300px;
  height: 3px;
  background-color: #110f24;
  position: relative;
}

.disabled-part-engine {
  width: 100%;
  height: 3px;
  background-color: #110f24;
  position: relative;
}

.green-part {
  width: 0%;
  height: 100%;
  background-color: #9fdf9f;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  transition: width 0.2s;
}

.white-part {
  width: 0%;
  height: 100%;
  background-color: #f0f0f0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  transition: width 0.2s;
}

.separation-zone {
  width: 3px;
  height: 10px;
  background-color: #f0f0f0;
}

.gray-part {
  width: 100%;
  height: 100%;
  background-color: #110f24;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  transition: width 0.2s;
}

.car-info {
  font-size: 14px;
}

.teams-columns {
  padding-top: 10px;
  display: grid;
  grid-template-columns: repeat(2, minmax(400px, 1fr));
  overflow-y: hidden;
  margin-left: 0%;
  margin-right: 14px;
}

.performance-bar {
  width: 300px;
}

.performance-section {
  padding-top: 10px;
  overflow-y: hidden;
  margin-left: 0%;
  margin-right: 14px;
}

.btn-number {
  background-color: transparent !important;
  color: white !important;
  padding-left: 0px !important;
  border: none !important;
}

.collapse-number {
  color: white;
  background-color: #393744;
}

.contract-details {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  color: white;
  background-color: #393744;
}

.number-and-contract {
  display: flex;
  flex-direction: column;
  background-color: #393744;
}

.custom-body {
  color: #dedde6;
  background-color: #393744;
}

.custom-modal {
  min-width: 600px !important;
}

.contract-details div{
  color: #dedde6;
}

.custom-header {
  color: white !important;
  border-bottom: 1px solid #797599 !important;
  background-color: #393744 !important;

}

.custom-footer {
  color: white !important;
  border-top: 1px solid #797599 !important;
  background-color: #393744 !important;

}

::-webkit-input-placeholder {
  color: #999;
  /* Cambia el color del texto del placeholder */
}

.rounded-input {
  border: 2px solid transparent;
  border-radius: 10px;
  padding: 8px 12px;
  max-width: 210px;
  outline: none;
  transition: border-color 0.4s;
  background-color: rgb(99, 99, 110);
  color: #ebeaf0;
}

.custom-disabled {
  background-color: -internal-light-dark(rgba(239, 239, 239, 0.3), rgba(59, 59, 59, 0.3));
}


.rounded-input:hover {
  border-color: #cecece;

}

.rounded-input:focus {
  outline: 0px solid transparent;
  border-color: white;
}

.confirm-area {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
}

.performance-data {
  margin-left: 30px;
  font-size: 26px;
  width: 200px;
  text-align: center;
}

.team,
.engine {
  background-color: #3f3c57;
  border: 2px solid transparent;
  border-radius: 10px;
  padding: 4.8px;
  cursor: pointer !important;
  margin: 10px;
  color: #dedde6;
  transition: border-color 0.4s, color 0.4s, background-color 0.4s;
  position: relative;
  font-size: 18px;
}

.team:hover,
.engine:hover {
  border-color: white;
  color: white;
  background-color: #4e4b69;
}

.team.selected,
.engine.selected {
  color: #110f24;
  background-color: #dedde6;
}

.team:active .engine:active {
  background-color: #1a1826;
}

.free-driver {
  background-color: #3f3c57;
  border: 2px solid transparent;
  border-radius: 10px;
  padding: 8px;
  cursor: grab !important;
  margin: 10px;
  color: #dedde6;
  transition: border-color 0.4s, color 0.4s, background-color 0.4s;
  position: relative;
  font-size: 15px;
}

.free-driver .custom-icon {
  color: transparent;
  transition: opacity 0.4s;
  background-image: linear-gradient(to left, #4e4b69, transparent);
  width: 80px;
  opacity: 0;
  z-index: 3;
  display: flex;
  position: absolute;
  right: 10px;
  top: 7.5px;
  justify-content: flex-end;
}

.custom-icon i {
  transition: color 0.4s;
}

.custom-icon i:hover {
  color: white;
  cursor: pointer;
}

.free-driver:hover .custom-icon {
  color: #9d98b8;
  opacity: 1;

}

#free-drivers {
  min-height: 660px;
}


.free-driver:hover {
  border-color: white;
  cursor: grab !important;
  color: white;
  background-color: #4e4b69;
}

.blocking-div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(128, 128, 128, 0.5);
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  backdrop-filter: blur(3px);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

#calendarBlockDiv {
  background-color: rgba(128, 128, 128, 0.733);
  backdrop-filter: blur(3px);
}

.normal-driver {
  background-color: #3f3c57;
  cursor: pointer;
  border-radius: 10px;
  padding: 8px;
  margin: 10px;
  color: #dedde6;
  transition: border-color 0.4s, color 0.4s, background-color 0.4s;
  border: 2px solid transparent;
  display: flex;
  justify-content: space-between;
}

.one-stat-panel {
  background-color: #3f3c57;
  border-radius: 10px;
  padding-left: 10px;
  margin: 10px;
  margin-left: 20px;
  color: #dedde6;
  transition: border-color 0.4s, color 0.4s, background-color 0.4s;
  min-height: 70px;
  border: 2px solid transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-height: 70px;
}


.scriptPills {
  color: #dedde6 !important;
  border: 2px solid transparent !important;
  transition: border-color 0.4s, background-color 0.4s , color 0.4s !important;
}

.scriptPills:hover {
  border-color: white !important;
  background-color: #58556c;
  color: white !important;
}

.scriptPills.active {
  background-color: #797599 !important;
  color: white !important;
}

.custom-input-number {
  background-color: #21202e;
  border-radius: 10px;
  padding: 10px;
  margin-right: 7px;
  color: white;
  max-width: 60px;
  height: 56px;
  border: 2px solid transparent;
  font-size: 20px;
  transition: border-color 0.4s !important;

}

.custom-input-number:hover {
  border-color: #cecece;

}

.custom-input-number:focus {
  outline: 0px solid transparent;
  border-color: white;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.normal-driver:hover {
  border-color: white;
  color: white;
  background-color: #4e4b69;
}

.normal-driver:active {
  background-color: #1a1826;
}

.normal-driver.clicked {
  color: #110f24;
  background-color: #dedde6;
}


.normal-driver.clicked .surname {
  color: inherit !important;
}

.team-template {
  background-color: #1f1b3b;
  border-radius: 10px;
  border: none;
  color: white;
  margin: 10px;
  margin-top: 0px;
  max-height: 140px;
}

.viewer-top {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.logo-and-name {
  display: flex;
  flex-direction: row;
}

.logo-and-title {
  display: flex;
  flex-direction: row;
  height: 54.5px;

}

.team-title {
  display: flex;
  align-items: center;
  font-size: 24px;
  padding-left: 8px;
}


.team-name {
  padding-bottom: 10px;
  padding-left: 10px;
  padding-top: 10px;
}

.perf-title {
  padding-bottom: 10px;
  padding-top: 5px;
}

#redbulllogo {
  width: 55px;
  height: 45px;
  padding-bottom: 8px;
  padding-left: 5px;
  padding-top: 7px;
}

#ferrarilogo {
  width: 35px;
  height: 40px;
  padding-bottom: 6px;
  padding-top: 8px;
  padding-left: 5px;
}

#merclogo {
  width: 40px;
  height: 40px;
  padding-bottom: 5px;
  padding-top: 9px;
  padding-left: 10px;
}

#alpinelogo {
  width: 45px;
  height: 40px;
  padding-bottom: 6px;
  padding-top: 9px;
  padding-left: 5px;
  transition: opacity 0.4s;
}

#mclarenlogo {
  width: 40px;
  height: 40px;
  padding-bottom: 4px;
  padding-top: 7px;
  padding-left: 5px;
}

#alfalogo {
  width: 40px;
  height: 40px;
  padding-bottom: 3px;
  padding-top: 5px;
  padding-left: 5px;
}

#astonlogo {
  width: 50px;
  height: 45px;
  padding-bottom: 5px;
  padding-left: 7px;
  padding-top: 5px;
}

#haaslogo {
  width: 40px;
  height: 40px;
  padding-bottom: 5px;
  padding-top: 7px;
  padding-left: 6px;
}

#alphataurilogo {
  width: 45px;
  height: 45px;
  padding-bottom: 12px;
  padding-left: 10px;
  padding-top: 12px;
}

#williamslogo {
  width: 45px;
  height: 45px;
  padding-bottom: 11px;
  padding-left: 12px;
  padding-top: 10px;
}


#redbull, .rbborder-down:hover {
  border-bottom: 2px solid #3671C6 !important;
}

#ferrari, .feborder-down:hover {
  border-bottom: 2px solid #F91536 !important;
}

#merc, .meborder-down:hover {
  border-bottom: 2px solid #6CD3BF !important;
}

#mclaren, .mcborder-down:hover {
  border-bottom: 2px solid #F58020 !important;
}

#alpine,.alborder-down:hover {
  border-bottom: 2px solid #2293D1 !important
}

#alfaromeo, .afborder-down:hover {
  border-bottom: 2px solid #C92D4B !important
}

#astonmartin, .asborder-down:hover {
  border-bottom: 2px solid #358C75 !important
}

#alphatauri, .atborder-down:hover {
  border-bottom: 2px solid #5E8FAA !important 
}

#williams, .wiborder-down:hover {
  border-bottom: 2px solid #37BEDD !important
}

#haas, .haborder-down:hover {
  border-bottom: 2px solid #B6BABD !important
}

.rbfont {
  color: #3671C6;
}

.fefont {
  color: #F91536;
}

.mefont {
  color: #6CD3BF;
}

.mcfont {
  color: #F58020;
}

.alfont {
  color: #2293D1;
}

.affont {
  color: #C92D4B;
}

.asfont {
  color: #358C75;
}

.atfont {
  color: #5E8FAA;
}

.wifont {
  color: #37BEDD;
}

.hafont {
  color: #B6BABD;
}

.rbbar-primary {
  background-color: #3671C6;
}

.rbbar-secondary {
  background-color: #ffd300;
}

.febar-primary {
  background-color: #F91536;
}

.febar-secondary {
  background-color: #f1f1f1;
}

.mebar-primary {
  background-color: #6CD3BF;
}

.mebar-secondary {
  background-color: #fcfcfc;
}

.mcbar-primary {
  background-color: #F58020;
}

.mcbar-secondary {
  background-color: #47c7fc;
}

.albar-primary {
  background-color: #2293D1;
}

.albar-secondary {
  background-color: #fd48c7;
}

.afbar-primary {
  background-color: #C92D4B;
}

.afbar-secondary {
  background-color: #f1f1f1;
}

.asbar-primary {
  background-color: #358C75;
}

.asbar-secondary {
  background-color: #c3dc00;
}

.atbar-primary {
  background-color: #5E8FAA;
}

.atbar-secondary {
  background-color: #f1f1f1;
}

.wibar-primary {
  background-color: #37BEDD;
}

.wibar-secondary {
  background-color: #3792dd;
}

.habar-primary {
  background-color: #B6BABD;
}

.habar-secondary {
  background-color: #da291c;
}

.rbborder-primary {
  border: 2px solid #3671C6;
}

.rbborder-secondary {
  border: 2px solid #ffd300;
}

.feborder-primary {
  border: 2px solid #F91536;
}

.feborder-secondary {
  border: 2px solid #f1f1f1;
}

.meborder-primary {
  border: 2px solid #6CD3BF;
}

.meborder-secondary {
  border: 2px solid #fcfcfc;
}

.mcborder-primary {
  border: 2px solid #F58020;
}

.mcborder-secondary {
  border: 2px solid #47c7fc;
}

.alborder-primary {
  border: 2px solid #2293D1;
}

.alborder-secondary {
  border: 2px solid #fd48c7;
}

.afborder-primary {
  border: 2px solid #C92D4B;
}

.afborder-secondary {
  border: 2px solid #f1f1f1;
}

.asborder-primary {
  border: 2px solid #358C75;
}

.asborder-secondary {
  border: 2px solid #c3dc00;
}

.atborder-primary {
  border: 2px solid #5E8FAA;
}

.atborder-secondary {
  border: 2px solid #f1f1f1;
}

.wiborder-primary {
  border: 2px solid #37BEDD;
}

.wiborder-secondary {
  border: 2px solid #3792dd;
}

.haborder-primary {
  border: 2px solid #B6BABD;
}

.haborder-secondary {
  border: 2px solid #da291c;
}


.drivers-section {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  min-height: 64px;
}


.driver-template {
  width: calc(50% - 5px);
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
}